//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn{
    background-color: #00ff01;
    color: #0d0d0d;
    border: #00ff01;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    font-weight: 600;
}