//main: ../main.scss

/** 
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  background-color: $bg-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1 {
  color: #fff;
  font-size: 50px;
}

.nav-link {
  color: $text-color;
  font-size: 13px;
  font-weight: 500;
  padding-right: 20px !important;
}

h2,h3 {
  color: $brand-color;
}

p {
  font-size: 16px;
}
h6 {
  color: #fff;
  font-style: bold;
}